body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
}
header {
    background-color: #32cd32;
    padding: 20px;
    text-align: center;
}
header img {
    max-width: 150px;
    height: auto;
}
nav {
    margin-top: 20px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 18px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    text-align: center;
}
.login-container {
    background-color: #0a0a0a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    font-weight: bold;
}
input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
}
button {
    background-color: #32cd32;
    color: #0a0a0a;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #32cd32;
}
#loginMessage {
    margin-top: 10px;
    color: #0a0a0a;
}
footer {
    background-color: #0a0a0a;
    text-align: center;
    padding: 15px;
    font-size: 1.2em;
    color: #0a0a0a;
    margin-top: 18.1%;
}
footer a {
    color: #32cd32;
    text-decoration: none;
}
.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.username-display {
    margin-left: 15px;
    color: #0a0a0a;
}